# toml file is here: https://gitlab.tudelft.nl/interactivetextbooks-citg/extensions/tud-citg-jb-stack/-/blob/main/pyproject.toml?ref_type=heads
teachbooks

sympy
jupyterquiz
seaborn

# pyvinecopulib is needed for generating the cover image (cover.ipynb)
# but not included here to prevent build issues on the server.
# In Feb 2024 it installed fine with Python 3.11 venv and pip

jupyterbook_patches
git+https://github.com/TeachBooks/Sphinx-Thebe
download-link-replacer