--index-url https://__token__:glpat-JduurUdhDczFJzvzZN4G@gitlab.tudelft.nl/api/v4/projects/13957/packages/pypi/simple
citg-jb-stack
sphinx-image-inverter @ git+https://github.com/PSOR-Books/Sphinx-Image-Inverter@main
sympy
jupyterquiz
seaborn
pytest
openpyxl
# docutils version for reference page formatting
# (See JB manual, Issues #21 and #24)
docutils==0.17.1